* {
    background-color: #267E66;
    font-family: 'PT Sans', sans-serif;
    color: #172A4C;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    display: flex;
    font-size: 100px;
    font-family: 'Suez One', serif;
    color: #EEEEEE;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 36px;
    font-family: 'Suez One', serif;
    color: #EEEEEE;
    justify-content: center;
    margin: 0px;
    padding: 10px;
}

h3 {
    display: flex;
    font-size: 24px;
    font-family: 'Suez One', serif;
    color: #EEEEEE;
    margin: 50px;
    justify-content: center;
}

#video {
    left: 0;
    top: 0;
    width: 100%;
}

#video-header {
    position: relative;
    height: calc(100vh - 3em);
    overflow: hidden;
}

#video-header > img {
    z-index: 50000000;
    position: absolute;
    width: 50%;
    bottom: 150px;
    left: 380px;
    background-color: transparent;
}


#team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.team-member {
    margin: 0 auto;
    padding: 1rem 3%;
    align-self: center;
}

.team-item-alonso {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-image: url(../media/img/pics/alonso.png);
    background-position: center;
    background-size: cover;

}

.team-item-alonso:hover {
    background-image: url(../media/img/frogs/HalonFrog.png);
    transition: 0.5s ease;
}

.team-item-alicia {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-image: url(../media/img/pics/alicia.jpg);
    background-position: center;
    background-size: cover;
}

.team-item-alicia:hover {
    background-image: url(../media/img/frogs/AliFrog.png);
    transition: 0.5s ease;
}

.team-item-andres {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-image: url(../media/img/pics/ragot.jpg);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.team-item-andres:hover {
    background-image: url(../media/img/frogs/RagotFrog.png);
    transition: 0.5s ease;
}

.team-item-victor {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-image: url(../media/img/pics/victor.jpg);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.team-item-victor:hover {
    background-image: url(../media/img/frogs/VitiFrog.png);
    transition: 0.5s ease;
}

.team-item-carmen {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-image: url(../media/img/pics/carmen.jpg);
    background-position: center;
    background-size: cover;

}

.team-item-carmen:hover {
    background-image: url(../media/img/frogs/ComfyFrog.png);
    transition: 0.5s ease;
}

.team-item-lino {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-image: url(../media/img/pics/lino.jpg);
    background-position: center;
    background-size: cover;
}

.team-item-lino:hover {
    background-image: url(../media/img/frogs/LinoFrog.png);
    transition: 0.5s ease;
}

.team-item-jose {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-image: url(../media/img/pics/jose.jpg);
    background-position: center;
    background-size: cover;

}

.team-item-jose:hover {
    background-image: url(../media/img/frogs/AyiyiFrog.png);
    transition: 0.5s ease;
}

.team-name {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.team-role {
    display: flex;
    justify-content: center;
    color: darkgray;
    font-size: 20px;
}

#menu {
    width: auto;
    font-size: 25px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #C574D9;
    height: 3em;

}

nav li {
    display: inline-block;
}

nav li a {
    font-size: 24px;
    font-family: 'Suez One', serif;
    color: #EEEEEE;
    display: block;
    padding: 11px 15px;
    color: #fff;
    text-decoration: none;
    background-color: #C574D9;

}

nav li a:hover {
    background-color: #555;
}

#Galeria {
    padding: 7vh;
    background-color: #267E66;
}



#conocenos {
    min-height: 100vh;
    height: calc(100vh - 3em);
    background-color: #267E66;
    padding: 6vh;
}

#galeria-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 0vh;
    min-height: 100vh;
    padding: 2vh;
}

.galeria-item-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria-item-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.galeria-img {
    margin: 5vh;
    width: 70vh;
    vertical-align: middle;
}

.galeria-text {
    display: flex;
    flex-direction: column;
}

.galeria-text > p {
    font-size: 25px;
    margin: 40px;
}

.galeria-text > h3 {
    justify-content: flex-start;
    font-size: 30px;
    margin: 40px;
}

#juego {
    min-height: 100vh;
    height: calc(100vh - 3em);
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 5vh;
    background-color: #63C64D;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
}

#juego > header > h2 {
    background-color: #63C64D;
    padding: 7vh
}

#carrousel {
    background-color: #63C64D;
    margin: auto;
    overflow: hidden;

    width: 1 00%;
    max-width: 1000px;

}

.carrousel-item {
    position: relative;
    display: flex;
    margin-left: 0;
    margin-right: 0;

    animation: 10s slider infinite;
}

.carrousel-item > img {
    flex: 25%;
    position: relative;
    vertical-align: middle;
}

#frog-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem, 10%;
    background-color: #63C64D;
}


.frog-item {
    margin: 15px;
    width: 10vh;
    border-radius: 50%;
    background-color: gray;
}

#footer {
    display: flex;
    width: 100%;
    bottom: 0;
    background-color: #C574D9;
    align-items: flex-end;
    position: relative;
    align-content: center;
}

#footer > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: transparent;
    height: 3em;
    bottom 0;
    vertical-align: middle;
}

#contacto > h2 {
    background-color: #63C64D;
    padding-top: 7vh;
    padding-bottom: 0;
    color: #172A4C;
    font-size: 50px;
}

#contacto > h3 {
    background-color: #63C64D;
    padding-top: 0;
    margin: 0;
    color: #172A4C;
    font-size: 40px;
}

#contacto {
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #63C64D;
    height: calc(100vh - 9em);
    display: flex;
    justify-content: space-around;
}

#wrapper-contacto {
    width: 1080px;
    background-color: #63C64D;

}

#contacto-for {
    background-color: #63C64D;
    display: flex;
    flex-direction: column;
    float: left;
    padding: 1rem, 10%;
    text-align: center;
    height: 50vh;
    justify-content: space-around;
}

#contacto-for > p {
    background-color: #63C64D;
    font-size: 20px;

}

#contacto-for > a {
    background-color: #63C64D;
}

#contacto-for > h3 {
    background-color: #63C64D;
    font-size: 30px;
    color: #172A4C;
}

#formulario {
    background-color: #63C64D;
    float: right;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1vh;
    height: 50vh;
    width: 50vh;
}

input,
textarea {
    background-color: lightgray;
    margin: 1vh;
    height: 12%;
}

textarea {
    height: 35%;
}

input[type="submit"] {
    background-color: gray;
    width: 50%;
    height: 9%;
    color: white;
}


@keyframes slider {
    0% {
        left: 0;
    }

    14% {
        left: 0;
    }

    19% {
        left: -100%;
    }

    34% {
        left: -100%;
    }

    39% {
        left: -200%;
    }

    54% {
        left: -200%;
    }


    59% {
        left: -300%;
    }


    74% {
        left: -300%;
    }


    79% {
        left: -400%;
    }


    94% {
        left: -400%;
    }


    100% {
        left: 0;
    }
}
