* {
    font-family: sans-serif;
    background-color: darkseagreen;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    font-size: 100px;
    color: white;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 36px;
    color: white;
    margin: 50px;
    justify-content: center;
}

h3 {
    display: flex;
    font-size: 24px;
    color: black;
    margin: 50px;
    justify-content: center;
}

#inicio {
    text-align: center;
    padding: 20px;
}

#map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

#team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-item {
    margin: 50px;
    width: 25vh;
}

.team-name {
    display: flex;
    justify-content: center;
}

#menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
}

nav {
    background-color: black;
    font-size: 18px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
}

#galeria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}

.galeria-item-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria-item-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.galeria-img {
    margin: 2vh;
    width: 48vh;
}

/*

#header{
    z-index: 1;
    position: relative;
}

#video-header{
    z-index: 0;
    position: absolute;;
}

#inicio-header{
    z-index: 2;
    position: relative;
}
*/
