.fa {
    display: flex;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
}

.fa-brands {
    display: flex;
    padding: 1rem 15%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    color: black;
}

.Sociales {
    display: flex;
    justify-self: center;
}

.Sociales > a {
    text-align: center;
}
