* {
    font-family: Helvetica Neue, sans-serif;
    background-color: #267E66;
    color: #172A4C;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    font-size: 100px;
    color: EEEEEE;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 36px;
    color: EEEEEE;
    margin: 50px;
    justify-content: center;
}

h3 {
    display: flex;
    font-size: 24px;
    margin: 50px;
    justify-content: center;
}

#map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

#team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member{
    margin: 45px;
}

.team-item {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background-image: url(../media/img/pics/alonso.png);
    background-position: center;
    background-size: cover;
}

.team-item:hover {
    background-image: url(../media/img/frogs/HalonFrog.png);
}

.team-name {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.team-role{
    display: flex;
    justify-content: center;
    color: darkgray;
    font-size: 20px;
}

#menu {
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
}

nav {
    font-size: 25px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
}

#galeria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}

.galeria-item-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria-item-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.galeria-img {
    margin: 2vh;
    width: 48vh; 
}

#video-header{
    
}

#video{
    position: 
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

#frog-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.frog-item {
    margin: 10px;
    width: 5vh;
}